/* src/App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #b17ec5;
    margin: 0;
    padding: 40px;
  }
  
  h1 {
    color: #25282c;
    text-align: center;
  }
  
  table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    background-color: #353838;
    color: rgb(238, 234, 234);
  }
  
  tr:hover {
    background-color: #9629d44f;
  }
  
  button {
    background-color: #e23a1d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #c823c0;
  }
  
.card{
  max-width: 600px; /* Largura máxima do formulário */
  margin:auto; /* Centraliza o formulário */
  padding: 50px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #f8f9fa; /* Cor de fundo do formulário */
}
.card-body{
  max-width: 600px; /* Largura máxima do formulário */
  margin:auto; /* Centraliza o formulário */
  padding: 50px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #f8f9fa; /* Cor de fundo do formulário */

}